/* content.css */
/* Esta hoja de estilos se inyectará en la página del SIASE */
:root {
    --bg-principal: #032c21;
    --bg-panel: #184236;
    --color-primario: #4FFE93;
    --color-secundario: #9de3ba;
    --texto-principal: #ffffff;
    --texto-secundario: #9de3ba;
    --panel-translucido: rgba(24, 66, 54, 0.6);
    --borde-sutil: rgba(157, 227, 186, 0.3);
    --borde-secundario: rgba(79, 254, 147, 0.3);
}

body {
    /* Un color de fondo más suave para destacar el cuadro */
    background-color: var(--bg-panel) !important;
}

/* Selecciona el box para dar diseño general */
.box {
    /* Diseño Glassmorphism (Efecto Vidrio) */
    background: var(--bg-principal) !important;
    padding: 30x !important;
    transition: transform 0.3s ease !important;
}

/* Al pasar el mouse se levanta */
.box:hover {
    transform: translateY(-5px) !important;
}

/* Da estilo al titulos */
.titulo,
h3 {
    background-image: none !important;
    background-color: var(--bg-principal) !important;
    color: var(--texto-principal) !important;
}

/* Da estilo a tarjeta de datos */
fieldset {
    background-color: var(--bg-panel) !important;
    backdrop-filter: blur(20px) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    border: 1px solid var(--borde-sutil) !important;
    border-radius: 20px !important;
    padding: 20px !important;
    width: 40% !important;
    box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.05), 0 20px 50px rgba(0, 0, 0, 0.4) !important;

}

/* Da estilo a los campos de texto del usuario y contraseña */
input[type="text"],
input[type="password"],
select {
    background-color: var(--bg-principal) !important;
    border: 1px solid var(--borde-secundario) !important;
    border-radius: 8px !important;
    font-size: 14px !important;
    color: var(--texto-principal) !important;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus {
    /* Resplandor verde de FIME */
    border-color: var(--color-primario) !important;
    box-shadow: inset 0 0 20px var(--borde-sutil), 0 0 15px var(--borde-secundario);
    outline: none !important;
}

/* Modificamos el botón de Entrar */
button {
    /* Verde Fime */
    background-color: var(--color-primario) !important;
    /* Verde oscuro FIME para el texto */
    color: var(--bg-principal) !important;
    /* Otras propiedades */
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-weight: 600 !important;
    border: none !important;
    border-radius: 8px !important;
    padding: 12px 20px !important;
    cursor: pointer !important;
    box-shadow: 0 4px 6px var(--borde-sutil) !important;
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 35px rgba(56, 237, 158, 0.7);
    filter: brightness(1.1);
}

/* Para ajustar los textos y etiquetas */
td,
span,
font,
label {
    color: #ffffff !important;
    font-family: 'Inter', sans-serif !important;
}